.failed {
  color: #900;
}
.passed {
  color: #090;
}
.pending {
  color: #990;
}
.errors {
  border-collapse: collapse;
}
.errors td, .errors th {
  padding: 4px;
}
.errors th {
  text-align: left;
  background: #eee;
}