body {
  font: 16px/20px Helvetica, Arail, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: #cdd5df;
  height: 70px;
}

header>div {
  float: left;
  font-size: 40px;
  line-height: 75px;
  height: 70px;
  font-weight: bold;
  width: 120px;
  text-align: center;
}
#total-count {
  background: #a7b6c5;
}
#passed-count {
  background: #090;
}
#pending-count {
  background: #C90;
}
#failed-count {
  background: #900;
}
section {
  margin: 30px 0;
}

ul {
  list-style: none;
  margin: 0 0 0 50px;
  padding: 0 0 0 10px;
  border-left: solid 3px #eee;
}
li {
  position: relative;
  margin: 0;
  /*border-top: solid 1px #eee;*/
}
li:first-child {
  border-top: none;
}
div.title {
  padding: 5px 0 5px 20px;
}
li.suite>ul {
  margin-top: 5px;
}
.failed {
  color: #900;
}
.failed:before {
  content: '✘';
}
.passed {
  color: #090;
}
.passed:before {
  content: '✔';
}
.pending {
  color: #E90;
}
.pending:before {
  content: '➤';
}
.failed:before, .pending:before, .passed:before {
  position: absolute;
  top: 5px;
  left: 0;
}

.errors {
  border-collapse: collapse;
}
.errors td, .errors th {
  padding: 4px;
}
.errors th {
  text-align: left;
  background: #eee;
}
del, ins {
    margin: 0 0.2em;
    font-weight: bold;
}
del {
    color: #900;
}
ins {
    color: #090;
}
li.suite {
  position: relative;
}
li.suite>.count {
  position: absolute;
  top: 5px;
  left: -60px;
  width: 40px;
  text-align: right;
  font-style: italic;
  color: #999;
}
li.suite.passed>ul {
  display: none;
}
