@import "colors"
@import "result_summary"
@import "test_results"

body
  font:           16px/20px Helvetica, Arail, sans-serif
  background:     $background
  color:          $black
  padding:        70px 0 0 0
  margin:         0

.result-summary
  position:       fixed
  top:            0
  width:          100%
  z-index:        1
  box-shadow:     0 -2px 3px rgba(0,0,0,0.2) inset

del, ins
  margin:         0 0.2em
  font-weight:    bold

del
  color:          #900

ins
  color:          #090
